export default function {{ pascalCase (feature-component feature-path) }}() {
  return (
    <div className="">
      <h1>{{ pascalCase (feature-component feature-path) }} Component</h1>
    </div>
  );
};
